<div id='supportContent'>
    <div id='qAndA'>
        <h1>Frequently Asked Questions</h1>

        <ol>
            <li>Cronut actually jean shorts, yr intelligentsia bushwick blog neutra tote bag?</li>
            <p class='forte-p-medium'>Cronut actually jean shorts, yr intelligentsia bushwick blog neutra tote bag. Leggings food truck XOXO williamsburg meggings, four loko swag ramps. </p>
            <li>Cronut actually jean shorts, yr intelligentsia bushwick blog neutra tote bag?</li>
            <p class='forte-p-medium'>Cronut actually jean shorts, yr intelligentsia bushwick blog neutra tote bag. Leggings food truck XOXO williamsburg meggings, four loko swag ramps. </p>
            <li>Cronut actually jean shorts, yr intelligentsia bushwick blog neutra tote bag?</li>
            <p class='forte-p-medium'>Cronut actually jean shorts, yr intelligentsia bushwick blog neutra tote bag. Leggings food truck XOXO williamsburg meggings, four loko swag ramps. </p>
            <li>Cronut actually jean shorts, yr intelligentsia bushwick blog neutra tote bag?</li>
            <p class='forte-p-medium'>Cronut actually jean shorts, yr intelligentsia bushwick blog neutra tote bag. Leggings food truck XOXO williamsburg meggings, four loko swag ramps. </p>
        </ol>
    </div>

    <div id='email'>
        <h1>Still have questions? Ask us directly.</h1>

        <form action='' method='post' class='forte-form'>
            <input type='text' class='forte-input' placeholder="Subject">

            <textarea placeholder="Message"></textarea>

            <input class='forte-submit' type='submit' value='Submit'>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var menu = true;
        $('.mobile-nav-trigger').on("click",function(){
            $('.mobile-menu').slideToggle("slow");
            if(menu){
                $('.mobile-nav-trigger').html("<i class='large material-icons'>close</i>");
                menu = false
            }else{
                $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
                menu = true;
            }
        });
        $('a button').on("click",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
        $('main').on("mouseover",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
        $(function() {
            $("#modal-1").on("change", function() {
            if ($(this).is(":checked")) {
              $("body").addClass("modal-open");
            } else {
              $("body").removeClass("modal-open");
            }
            });

            $(".modal-fade-screen, .modal-close").on("click", function() {
                $(".modal-state:checked").prop("checked", false).change();
            });

            $(".modal-inner").on("click", function(e) {
                e.stopPropagation();
            });
        });
    });
</script>
