	<section id='about-us-left'>
		<ul id='about-us-side-nav'>
			<li class='forte-ul-li'><a href="#how-it-works-article">How it Works</a></li>
			<li class='forte-ul-li'><a href="#our-mission-article">Our Mission</a></li>
			<li class='forte-ul-li'><a href="#our-history-article">Our History</a></li>
			<li class='forte-ul-li'><a href="#our-team-article">Our Team</a></li>
		</ul>
	</section>
	<section id='about-us-content'>
		<article id='how-it-works-article'>
			<h2 class='white'>How does Forte work?</h2>
			<p class='forte-p-large forte-p-overlay'>
				We connect aspiring musicians with instructors to offer lessons at deeply discounted rates.
			</p>

			<p class='forte-p-medium forte-p-overlay'>
				Far too often, aspiring youth musicians are barred from pursuing their musical passions due to their financial situation.  Forte's online platform matches underprivileged youth with experienced musicians willing to provide deeply discounted music lessons.  Our passionate teachers give back to the community by providing an opportunity that these students wouldn't otherwise have access to.  While typical private instruction costs $30 - $60 per hour, our students are able to learn from quality instructors for only $15 per 45-minute session.
			</p>
			<p class='forte-p-medium forte-p-overlay'>
				Prospective students and teachers apply for our program online with a brief survey including personal details, instrument interests and mobility preferences.  Selected individuals are then invited to register for our online platform where they can schedule weekly 45-minute lessons, provide feedback and access our educational resources.
			</p>
			<p class='forte-p-medium forte-p-overlay'>
				We are deeply committed to ensuring the safety of our members as well as maintaining the quality of our instruction.  As such, prospective students and teachers are thoroughly vetted by our team before being invited to use our platform.  This includes detailed background checks for all instructors and strict eligibility requirements for students based on financial need.
			</p>
		</article>

		<article id='our-mission-article'>
			<h2 class='white'>What is our mission?</h2>
			<p class='forte-p-large forte-p-overlay'>
				It is to empower underprivileged youth to discover, learn, and love music performance.
			</p>
			<p class='forte-p-medium forte-p-overlay'>
				Forte |for,ta|<br>
				adj. loudly, with passion and energy<br>
				n. one's strength, talent, or skill
			</p>
			<p class='forte-p-medium forte-p-overlay'>
				Music is a universal language.  It provides an outlet for artistic expression and evokes emotions connecting audiences worldwide.  It is a craft meant to be learned, appreciated and shared equally among people from all walks of life.
			</p>
			<p class='forte-p-medium forte-p-overlay'>
				The pursuit of one's musical interests is an enriching experience that can have far-reaching benefits including enhanced creativity, discipline, teamwork and self-confidence.  But development as a musician requires far more than passion and dedication.   Resources such as instrument access, private instruction and mentorship are pivotal to success, but remain out of reach for many aspiring musicians.
			</p>
			<p class='forte-p-medium forte-p-overlay'>
				Our aim is to break down the barriers that surround music today.  We created Forte as a non-profit platform to foster the accessibility of music education to underprivileged youth.  Forte unlocks a pathway for student musicians from challenged neighborhoods by matching them with experienced volunteers who can provide lessons at significantly discounted rates.
			</p>
		</article>

		<article id='our-history-article'>
			<h2 class='white'>How did we start?</h2>
			<p class='forte-p-large forte-p-overlay'>
				We are deeply rooted in the history of using music to serve our community.
			</p>
			<p class='forte-p-medium forte-p-overlay'>
				Forte’s roots trace back to 2008, when our President formed a service organization at Homestead High School allowing student musicians to collaborate via small ensembles.  Ranging from duos to quintets, these intimate groups inspired levels of student independence and creativity greater than those typically afforded by school-wide bands, orchestras or choirs.  Through this organization, students connected with and enriched the local community via public performances for audiences including HCR ManorCare, the Santa Clara Valley Blind Center, and the J.W. House of Kaiser Permanente.
			</p>
			<p class='forte-p-medium forte-p-overlay'>
				In this spirit, we launched Forte in 2015 with the vision of leveraging music education as a platform to enrich the lives of youth who otherwise may not have the resources or guidance to pursue their musical passions.
			</p>
		</article>

		<article class='about-us-article-team' id='our-team-article'>
			<div class='forte-team-tile'>
				<img src="http://placehold.it/200x200">
				<div>
					<p class='forte-p-large team-tile-title'>Daniel Kim | Chief Executive Officer</p>
					<p class='forte-p-medium'>
						Daniel originally created Forte at his high school as a community service organization on campus that performed chamber music for underprivileged members of the community. He is a CM 10 pianist and has played as a bassoonist in several ensembles including the the Cal University Symphony Orchestra, Stanford Symphony Orchestra, San Jose Youth Philharmonic and Silicon Valley Volunteer Orchestra. Daniel's favorite artists include Chopin, Glass Animals and Kendrick Lamar.
					</p>
					<p class='forte-p-medium'>
						Daniel graduated from UC Berkeley and lives in San Francisco.
					</p>
				</div>
			</div>

			<div class='forte-team-tile'>
				<img src="http://placehold.it/200x200">
				<div>
					<p class='forte-p-large team-tile-title'>Daniel Kim | Chief Executive Officer</p>
					<p class='forte-p-medium'>
						Daniel originally created Forte at his high school as a community service organization on campus that performed chamber music for underprivileged members of the community. He is a CM 10 pianist and has played as a bassoonist in several ensembles including the the Cal University Symphony Orchestra, Stanford Symphony Orchestra, San Jose Youth Philharmonic and Silicon Valley Volunteer Orchestra. Daniel's favorite artists include Chopin, Glass Animals and Kendrick Lamar.
					</p>
					<p class='forte-p-medium'>
						Daniel graduated from UC Berkeley and lives in San Francisco.
					</p>
				</div>
			</div>

			<div class='forte-team-tile'>
				<img src="http://placehold.it/200x200">
				<div>
					<p class='forte-p-large team-tile-title'>Daniel Kim | Chief Executive Officer</p>
					<p class='forte-p-medium'>
						Daniel originally created Forte at his high school as a community service organization on campus that performed chamber music for underprivileged members of the community. He is a CM 10 pianist and has played as a bassoonist in several ensembles including the the Cal University Symphony Orchestra, Stanford Symphony Orchestra, San Jose Youth Philharmonic and Silicon Valley Volunteer Orchestra. Daniel's favorite artists include Chopin, Glass Animals and Kendrick Lamar.
					</p>
					<p class='forte-p-medium'>
						Daniel graduated from UC Berkeley and lives in San Francisco.
					</p>
				</div>
			</div>

			<div class='forte-team-tile'>
				<img src="http://placehold.it/200x200">
				<div>
					<p class='forte-p-large team-tile-title'>Daniel Kim | Chief Executive Officer</p>
					<p class='forte-p-medium'>
						Daniel originally created Forte at his high school as a community service organization on campus that performed chamber music for underprivileged members of the community. He is a CM 10 pianist and has played as a bassoonist in several ensembles including the the Cal University Symphony Orchestra, Stanford Symphony Orchestra, San Jose Youth Philharmonic and Silicon Valley Volunteer Orchestra. Daniel's favorite artists include Chopin, Glass Animals and Kendrick Lamar.
					</p>
					<p class='forte-p-medium'>
						Daniel graduated from UC Berkeley and lives in San Francisco.
					</p>
				</div>
			</div>

		</article>

		<div id='about-us-get-involved'>
			<p>Get Involved: </p>
			<ul>
				<li><button class='forte-button-gray'>Learn</button></li>
				<li><button class='forte-button-gray'>Teach</button></li>
				<li><button class='forte-button-gray'>Donate</button></li>
			</ul>
		</div>
	</section>
	<script type="text/javascript">
        $(document).ready(function(){
			var menu = true;
			$('.mobile-nav-trigger').on("click",function(){
				$('.mobile-menu').slideToggle("slow");
				if(menu){
					$('.mobile-nav-trigger').html("<i class='large material-icons'>close</i>");
					menu = false
				}else{
					$('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
					menu = true;
				}
			});
			$('a button').on("click",function(){
				$('.mobile-menu').hide();
				$('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
				menu = true
			});
			$('main').on("mouseover",function(){
				$('.mobile-menu').hide();
				$('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
				menu = true
			});
			$(function() {
				$("#modal-1").on("change", function() {
				if ($(this).is(":checked")) {
				  $("body").addClass("modal-open");
				} else {
				  $("body").removeClass("modal-open");
				}
				});

				$(".modal-fade-screen, .modal-close").on("click", function() {
				$(".modal-state:checked").prop("checked", false).change();
				});

				$(".modal-inner").on("click", function(e) {
				e.stopPropagation();
				});
			});
        });
    </script>
