<h1>upload image</h1>

<%= form_for @student, url: 'carrierwave', html: { multipart: true } do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit :submit %>
<% end %>

<input type='file' name='student[avatar]' >