<form id='contact-us-form' action='' method='post' class='forte-form'>
	<h2>Any questions or suggestions? We're all ears.</h2>
	<input type='text'  name='first_name' class='forte-input' placeholder="First Name">
	<input type='text'  name='last_name' class='forte-input-filled' placeholder="Last Name">
	<input type='email'  name='email' class='forte-input-filled' placeholder="Email">
	<textarea></textarea>
	<input class='forte-submit' type='submit' value='Submit'>
</form>