<div class='feedback-title-banner'>
    <h1>Feedback</h1>
</div>

<div class="forte-feedback-banner">
    <h6>How was your last lesson?</h6>
</div>

<div class='feedback-content'>
    <form action='' method='post'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        
        <div class = 'feedback-main-image'>
            <img src="http://placehold.it/200x200">
        </div>

        <label for="title" class='feedback-name-date'>Name | Date</label>
        <textarea name="title">Enter commitment, goals, etc...</textarea>   
        <div>
            <label class="label-switch feedback-switch">
            <input type="checkbox" checked=true />
            <div class="checkbox">
                <span class='switch-label switch-label-student'>Default</span>
                <span class='switch-label switch-label-teacher'>Anon.</span>
            </div>
            </label>
        </div>
        <br>
        <input type='submit' class='forte-submit' value='Submit Feedback'></input>

    </form>
</div>

<br>

<div class="forte-feedback-banner">
    <h6>Previous Feedback</h6>
</div>

<div class='feedback-content'>
    <div class = 'feedback-main-image'>
        <img src="http://placehold.it/200x200">
    </div>

    <form action='' method='post'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        
        <label for="title" class='feedback-name-date'>Name | Date</label>
        <textarea name="title">Enter commitment, goals, etc...</textarea>   

    </form>
</div>

<div class='feedback-content'>
    <div class = 'feedback-main-image'>
        <img src="http://placehold.it/200x200">
    </div>

    <form action='' method='post'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

        <label for="title" class='feedback-name-date'>Name | Date</label>
        <textarea name="title">Enter commitment, goals, etc...</textarea>   

    </form>
</div>

<div class="pagination">
    Page
    <a href=""><i class="material-icons">chevron_left</i></a>
    1
    <a href=""><i class="material-icons">chevron_right</i></a>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var menu = true;
        $('.mobile-nav-trigger').on("click",function(){
            $('.mobile-menu').slideToggle("slow");
            if(menu){
                $('.mobile-nav-trigger').html("<i class='large material-icons'>close</i>");
                menu = false
            }else{
                $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
                menu = true;
            }
        });
        $('a button').on("click",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
        $('main').on("mouseover",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
        $(function() {
            $("#modal-1").on("change", function() {
            if ($(this).is(":checked")) {
              $("body").addClass("modal-open");
            } else {
              $("body").removeClass("modal-open");
            }
            });

            $(".modal-fade-screen, .modal-close").on("click", function() {
            $(".modal-state:checked").prop("checked", false).change();
            });

            $(".modal-inner").on("click", function(e) {
            e.stopPropagation();
            });
        });
    });
</script>
