<div id="giphy_carousel">
    <div id="shout_out">
        <h1>
            We connect experienced teachers with aspiring youth musicians to provide affordable music lessons for those who need it most.
        </h1>
        <a href="/student-login" class="first">Learn</a>
        <a href="/teacher-login">Teach</a>
    </div>
</div>
<div class="triangle">
    <div id="triangle"></div>
</div>
<div class="content">
    <div class="instruments">
        <h2>Instrument Carousel</h2>
    </div>
    <hr>
    <div class="info">
        <h1>How It Works</h1>
        <p>
            We connect experienced teachers with aspiring youth musicians.
        </p>
    </div>
    <div class="info">
        <h1>Our Mission</h1>
        <p>
            To empower underpriviledged youth to discover, learn, and love music performance.
        </p>
    </div>
    <div class="info">
        <h1>Get Involved</h1>
        <p>
            Teach Students, learn an instrument, or donate to our cause.
        </p>
    </div>
</div>
