<section id='get-involved'>
	<div id="get-involved-left"></div>
	<div id="get-involved-center"></div>
	<div id="get-involved-right"></div>
</section>
<section id='get-involved-lower'>
	<p class='forte-p-large'>You don't have to be a musician to get involved!</p>
	<p class='forte-p-medium'>
		Support Forte in changing the lives of underprivileged youth musicians. Forte is a registered 501(c)(3) non-profit organization and your tax-deductible contribution will help achieve our vision of giving the gift of music education to those who need it most.
	</p>

	<button>Donate</button>
</section>