<section id='get-involved'>
	<div id="get-involved-left"></div>
	<div id="get-involved-center"></div>
	<div id="get-involved-right"></div>
</section>
<section id='get-involved-lower'>
	<p class='forte-p-large'>You don't have to be a musician to get involved!</p>
	<p class='forte-p-medium'>
		Support Forte in changing the lives of underprivileged youth musicians. Forte is a registered 501(c)(3) non-profit organization and your tax-deductible contribution will help achieve our vision of giving the gift of music education to those who need it most.
	</p>

	<button>Donate</button>
</section>
<script type="text/javascript">
	$(document).ready(function(){
		var menu = true;
        $('.mobile-nav-trigger').on("click",function(){
            $('.mobile-menu').slideToggle("slow");
            if(menu){
                $('.mobile-nav-trigger').html("<i class='large material-icons'>close</i>");
                menu = false
            }else{
                $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
                menu = true;
            }
        });
        $('a button').on("click",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
        $('main').on("mouseover",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
		$(function() {
			$("#modal-1").on("change", function() {
			if ($(this).is(":checked")) {
			  $("body").addClass("modal-open");
			} else {
			  $("body").removeClass("modal-open");
			}
			});

			$(".modal-fade-screen, .modal-close").on("click", function() {
			$(".modal-state:checked").prop("checked", false).change();
			});

			$(".modal-inner").on("click", function(e) {
			e.stopPropagation();
			});
		});
	});
</script>
