<section id='get-involved'>
	<div id="get-involved-left"></div>
	<div id="get-involved-center">
		<p id='get-involved-learn-tagline' class='forte-p-overlay forte-p-medium'>Sign up to start<br>learning instruments now</p>
		<p id='get-involved-teach-tagline' class='forte-p-overlay forte-p-medium'>Sign up to start<br>teaching students now</p>
		<div class="tile-overlay-maroon tile-overlay-maroon-left"></div>
		<button data-remodal-target='sign-up-modal' id='get-involved-learn-button'class='forte-button-round-small forte-button-overlay'>Learn</button>
		<div class="tile-overlay-maroon tile-overlay-maroon-right"></div>
		<button data-remodal-target='sign-up-modal' id='get-involved-teach-button'class='forte-button-round-small forte-button-overlay'>Teach</button>
	</div>
	<div id="get-involved-right"></div>
</section>
<section id='get-involved-lower'>
	<p class='forte-p-large'>You don't have to be a musician to get involved!</p>
	<p class='forte-p-medium'>
		Support Forte in changing the lives of underprivileged youth musicians. Forte is a registered 501(c)(3) non-profit organization and your tax-deductible contribution will help achieve our vision of giving the gift of music education to those who need it most.
	</p>

	<button onClick=''>Donate</button>
</section>



<%= render partial: 'partials/log-in-modal' %>
<%= render partial: 'partials/sign-up-modal' %>

<script type="text/javascript">
	$(document).ready(function(){
		var menu = true;
        $('.mobile-nav-trigger').on("click",function(){
            $('.mobile-menu').slideToggle("slow");
            if(menu){
                $('.mobile-nav-trigger').html("<i class='large material-icons'>close</i>");
                menu = false
            }else{
                $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
                menu = true;
            }
        });
        $('a button').on("click",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
        $('main').on("mouseover",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
		$(function() {
			$("#modal-1").on("change", function() {
			if ($(this).is(":checked")) {
			  $("body").addClass("modal-open");
			} else {
			  $("body").removeClass("modal-open");
			}
			});

			$(".modal-fade-screen, .modal-close").on("click", function() {
			$(".modal-state:checked").prop("checked", false).change();
			});

			$(".modal-inner").on("click", function(e) {
			e.stopPropagation();
			});
		});
	});

	$(document).ready(function(){
		
		// logic for maroon trapezoid overlays
		$('#get-involved-learn-button').mouseenter(function(){
			$('.tile-overlay-maroon-left').css('border-bottom', '350px solid #821932');
			$('#get-involved-learn-tagline').css('visibility', 'visible');
		});
		$('.tile-overlay-maroon-left').mouseleave(function(){
			$(this).css('border-bottom', '0');
			$('#get-involved-learn-tagline').css('visibility', 'hidden');
		});

		$('#get-involved-teach-button').mouseenter(function(){
			$('.tile-overlay-maroon-right').css('border-top', '350px solid #821932');
			$('#get-involved-teach-tagline').css('visibility', 'visible');
		});
		$('.tile-overlay-maroon-right').mouseleave(function(){
			$(this).css('border-top', '0');
			$('#get-involved-teach-tagline').css('visibility', 'hidden');
		});		


	});
</script>
