<h1>Payments</h1>
<section id='payments-section-total'>
	<h2>Total Payments</h2>
	<p>$25.00</p>
</section>
<section id='payments-section-method'>
	<h2>Payment method</h2>
	<button></button>
	<button></button>
</section>
<section id='payments-section-breakdown'>
	<h2>Total breakdown</h2>

<table>
	<thead>
		<tr>
			<th>Instructor</th>
			<th>Lesson</th>	
			<th>Amount</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>
		<tr>
			<td>data</td>
			<td>data</td>
			<td>data</td>
			<td>data</td>
		</tr>
	</tbody>
</table>


</section>