<div class="forte-message-banner">
	<h1>Congratulations! Your profile has been submitted for review.</h1>
	<p>The Forte team will contact you with a decision within the next 72 hours.</p>
</div>


<section id='profile-section-0'>

	<div>

		<button id='profile-edit-button'>Edit Profile</button>	
	
	</div>

	<!-- <div> -->

		<div id='profile-main-image'>
			<img src="http://placehold.it/200x200">
			<h6>Sophie Safnuk</h6>
		</div>

	<!-- </div> -->

</section>


<section id='profile-section-1'>
	
	<div class='profile-tile'>
		<h6 class='profile-title'>Personal Information</h6>
	</div>
	<div class='profile-tile'>
		<h6 class='profile-title'>Biography</h6>
	</div>
	<div class='profile-tile'>
		<h6 class='profile-title'>Weekly Availabilities</h6>
	</div>

</section>

<section id='profile-section-2'>
	<div>
		<h6 class='profile-title'>Instruments</h6>
		<div class='profile-tile'></div>
		<div class='profile-tile'></div>
	</div>
</section>