<div style='margin: 5rem'>
	<h1>Sitemap</h1>

	<h2>Pages</h2>
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="/contact">Contact</a></li>
	  <li><a href="/involve">Get Involved</a></li>
	  <li><a href="/finish_profile">Finish Profile</a></li>
	  <li><a href="/profile">Student Profile</a></li>
	  <li><a href="/dashboard">Student Dashboard</a></li>
	  <li><a href="/feedback">Feedback</a></li>
	  <li><a href="/payments">Payments</a></li>
	  <li><a href="/support">Support</a></li>
	</ul>

	<br>
	
	<h2>Developer pages</h2>
			
	<ul>	
	  <li><a href="/components">Components</a></li>
	</ul>

</div>