<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>
            [First Name],
        </p>
        <p>
            Thank you for your interest in Forte!  We have reviewed your application and have put it on hold for the time being. Please ensure that all information in your application is accurate, current and comprehensive.
        <p>
            As you can imagine, we receive a large number of applications and maintain strict eligibility criteria to ensure the availability of quality instruction for our members.  We regularly review our backlog of applications on hold and will reach out if your status changes.  In the meanwhile, we encourage you to review our <a href="http://www.forteacademy.org/support">FAQ</a> for common reasons that applications are placed on hold.
        </p>
        <p>
            Feel free to reach out with any questions – we’re all ears!
        </p>
        <p>
            The Forte Team
        </p>
    </body>
</html>
