<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>
            <%= @message_info[:first_name]%>,
        </p>
        <p>
            This message is to confirm that you authorized a password reset. Please use this link within the next 24 hours to reset your password:
        </p>
        <p>
            <a href="<%=@message_info[:password_reset_url]%>">Reset Password</a>
        </p>
        <p>
            If you have not recently reset your password or if you believe you have received this message in error, please <a href="http://www.forteacademy.org/support">let us know.</a>
        </p>
        <p>
            The Forte Team
        </p>
    </body>
</html>
