// use sass: http://sass-lang.com/
$primary-color: #821932
header
    background-color: $forte-maroon
    height: 90px
    width: 100%
    padding: 20px 30px
    .header_logo
        width: 150px
        display: inline-block
        text-align: left
    img
        width: 150px
        height: auto

    ul.forte-nav
        li
            vertical-align: bottom
        @include media(max-width 640px)
            display: none
        @include media($media-medium)
            &.forte-nav > li
                font-size: $base-font-size
        @include media($media-large)
            display: initial
            &.forte-nav > li
                font-size: $base-font-size * 1.1
        @include media($media-huge)
            &.forte-nav > li
                font-size: $base-font-size * 1.2

    button.mobile-nav-trigger
        background: transparent
        outline: none
        border: none !important
    .mobile-menu
        display: none
        position: fixed
        top: 0
        margin-top: -10px
        left: 0
        width: 70%
        height: auto
        background-color: transparentize($forte-maroon, .1)
        border-radius: 2px
        ul
            padding-top: 20px
        li
            text-align: center
            border: $forte-white
            list-style: none
            padding-top: 5px
            a, span
                text-decoration: none
                color: $forte-white !important
                font-weight: 100
    .mobile-nav
        display: none
        @include media(max-width 640px)
            display: inline-block
            cursor: pointer
            position: relative
            width: auto
            text-align: right
            i
                color: $forte-white
                margin-top: 10px
    .modal-intro
        margin: 10px !important
        text-align: center
    .modal-header-img
        background-image: url('modal-login.gif')
        background-size: cover
        background-repeat: no-repeat !important
        background-position: center
        height: 140px
        p
            text-align: center
            color: $forte-white !important
            padding-top: 100px
        span
            text-decoration: underline !important
    .modal-close
        background: transparent !important
    .modal-inner, .modal
        height: auto
        overflow: hidden !important
        padding: 0px !important
// hover underline styling
a.animating-link, span.animating-link
    position: relative
    text-decoration: none
    cursor: pointer

a.animating-link:before, span.animating-link:before
    content: ""
    position: absolute
    width: 100%
    height: 1px
    bottom: 0
    left: 0
    background-color: $forte-white
    visibility: hidden
    -webkit-transform: scaleX(0)
    transform: scaleX(0)
    -webkit-transition: all 0.3s ease-in-out 0s
    transition: all 0.3s ease-in-out 0s

a.animating-link:hover:before, span.animating-link:hover:before
    visibility: visible
    -webkit-transform: scaleX(1)
    transform: scaleX(1)
