
	<section id='dashboard-section-0'>

		<div class='dashboard-tile'>

			<div id='dashboard-main-image'>
				<img src="http://placehold.it/200x200">
				<h6 class='image-subtitle'>Sophie Safnuk</h6>
			</div>

			<p class='forte-p-medium'>
				Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag Medium paragraph tag
			<p>

			<button onClick="location.href='profile'">View Profile</button>

		</div>
		<div class='dashboard-tile' id='dashboard-tile-center'>

			<h6 class='dashboard-title'>Upcoming Lessons</h6>

			<div id='dashboard-upcoming-lessons'>
				<div class='dashboard-upcoming-lesson'>
					<div>
						<p class='forte-p-small'>Jan</p>
						<p class='forte-p-large'>9</p>
					</div>
					<div class='forte-lesson-card'>
						<p class='forte-p-medium'>Piano Lesson</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">person</i> Richard Donahue</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">schedule</i> Saturday, 3PM-4PM</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">location_on</i> 293 Hastings Street #32, Berkley, CA</p>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-move-button'>Move</button>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-cancel-button'>Cancel</button>
					</div>
				</div>
				<div class='dashboard-upcoming-lesson'>
					<div>
						<p class='forte-p-small'>Jan</p>
						<p class='forte-p-large'>10</p>
					</div>
					<div class='forte-lesson-card'>
						<p class='forte-p-medium'>Piano Lesson</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">person</i> Richard Donahue</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">schedule</i> Saturday, 3PM-4PM</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">location_on</i> 293 Hastings Street #32, Berkley, CA</p>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-move-button'>Move</button>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-cancel-button'>Cancel</button>
					</div>
				</div>
				<div class='dashboard-upcoming-lesson'>
					<div>
						<p class='forte-p-small'>Jan</p>
						<p class='forte-p-large'>11</p>
					</div>
					<div class='forte-lesson-card'>
						<p class='forte-p-medium'>Piano Lesson</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">person</i> Richard Donahue</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">schedule</i> Saturday, 3PM-4PM</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">location_on</i> 293 Hastings Street #32, Berkley, CA</p>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-move-button'>Move</button>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-cancel-button'>Cancel</button>
					</div>
				</div>
				<div class='dashboard-upcoming-lesson'>
					<div>
						<p class='forte-p-small'>Jan</p>
						<p class='forte-p-large'>12</p>
					</div>
					<div class='forte-lesson-card'>
						<p class='forte-p-medium'>Piano Lesson</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">person</i> Richard Donahue</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">schedule</i> Saturday, 3PM-4PM</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">location_on</i> 293 Hastings Street #32, Berkley, CA</p>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-move-button'>Move</button>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-cancel-button'>Cancel</button>
					</div>
				</div>
				<div class='dashboard-upcoming-lesson'>
					<div>
						<p class='forte-p-small'>Jan</p>
						<p class='forte-p-large'>13</p>
					</div>
					<div class='forte-lesson-card'>
						<p class='forte-p-medium'>Piano Lesson</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">person</i> Richard Donahue</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">schedule</i> Saturday, 3PM-4PM</p>
						<p class='forte-p-small'><i class="material-icons dashboard-material-icons-small">location_on</i> 293 Hastings Street #32, Berkley, CA</p>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-move-button'>Move</button>
						<button class='forte-button-round-small forte-button-overlay dashboard-upcoming-lesson-cancel-button'>Cancel</button>
					</div>
				</div>
			</div>

			<h6 class='dashboard-title'>Payments</h6>

			<div id='dashboard-payments'>
				<div>
					<p class='dashboard-payments-total'>$25.00</p>
				</div>
				<div>
					<p class='forte-p-medium dashboard-payments-total-right'>
						Total Payments
					</p>
					<p class='forte-p-small dashboard-payments-total-right'>
						Updated 12/29/2015 12:05PM
					</p>
				</div>
				<div>
					<div>
						<p class='forte-p-small'>Paid out</p>
						<p class='forte-p-small'>$15.00</p>
					</div>
					<div>
						<p class='forte-p-small'>Pending</p>
						<p class='forte-p-small'>$10.00</p>
					</div>
				</div>

				<a href="/payments" class='forte-link-red'>View Details</a>
			</div>

		</div>

		<div class='dashboard-tile' id='dashboard-feedback'>
			<h6 class='dashboard-title'>Feedback</h6>

			<div id='dashboard-feedback-container'>

				<div>
					<div>
						<p>1</p>
					</div>
					<div>
						<p class='forte-p-medium'>Total Payments</p>
						<p class='forte-p-small'>Updated 12/29/2015 12:05PM</p>
					</div>
				</div>


			</div>

			<div id='dashboard-feedback-profiles'>
				<div>
					<div>
						<img src="http://placehold.it/73x73">
					</div>
					<div>
						<p class='forte-p-medium'>Total Payments</p>
						<p class='forte-p-small'>Updated 12/29/2015 12:05PM</p>
					</div>
				</div>
				<div>
					<div>
						<img src="http://placehold.it/73x73">
					</div>
					<div>
						<p class='forte-p-medium'>Total Payments</p>
						<p class='forte-p-small'>Updated 12/29/2015 12:05PM</p>
					</div>
				</div>
			</div>

			<button onclick="location.href='feedback'">Complete Feedback</button>

		</div>

	</section>



<script type="text/javascript">

	$('.dashboard-upcoming-lesson').hover(function(){
		console.log(this);
		$(this).children('div').children('button').css("visibility", "visible");
	}, function(){
		$(this).children('div').children('button').css("visibility", "hidden");
	});


</script>
