<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<style>
/*#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }*/

/*#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }*/

/*html > body #sortable li { height: 1.5em; line-height: 1.2em; }*/
/*.ui-state-highlight { height: 1.5em; line-height: 1.2em; }*/
</style>
<script>
$(function() {
  $( "#sortable" ).sortable({
    placeholder: "ui-state-highlight"
  });
  $( "#sortable" ).disableSelection();
});
</script>

<form action='/students' method='post' class='forte-form' id='finish-your-profile-form'>

	<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

	<h1>Complete Your Application</h1>
	<h6>Your finished profile will be sent to the Forte team for review.</h6>

	<section id='profile-section'>
		<div id='profile-section-left'>
			<img id='finish-profile-image' src="http://placehold.it/150x150" alt='image upload'>
		</div>
		<div id='profile-section-right'>
			<div class='forte-finish-input'>
				<label class='forte-label'>First Name</label>
				<input type='text'  name='student[first_name]' class='forte-input' placeholder="First Name">
			</div>
			<div class='forte-finish-input'>
				<label class='forte-label'>Last Name</label>
				<input type='text'  name='student[last_name]' class='forte-input' placeholder="Last Name">
			</div>
			<div class='forte-finish-input'>
				<label class='forte-label'>Email</label>
				<input type='text'  name='student[email]' class='forte-input' placeholder="Email">
			 </div>
			<div class='forte-finish-input'>
				<label class='forte-label'>Password</label>
				<input type='text'  name='student[password]' class='forte-input' placeholder="Password">
			 </div>
			<div class='forte-finish-input'>
				<label class='forte-label'>Re-type Password</label>
				<input type='text' name='student[password_confirmation]' class='forte-input' placeholder="Re-type Password">
			</div>
			<div class='forte-finish-input'>
				<label class='forte-label'>Phone Number</label>
				<input type='text'  name='student[phone_number]' class='forte-input' placeholder="Phone Number">
			</div>
			<div class='forte-finish-input'>
				<label class='forte-label'>Birthdate</label>
				<input type='date'  name='student[birthdate]' class='forte-input' placeholder="Birthdate">
			 </div>
		</div>

	</section>

	<section id='finish-instruments-you-want-to-learn'>
		<button id='finish-instrument-list-add'><i class="material-icons">add</i></button>
		<h4>Instrument(s) you want to learn</h4>
		<div>
			<div id='finish-instrument'>
				<h6>Instrument</h6>
			</div>
			<div id='finish-experience'>
				<h6>Experience level</h6>
			</div>
			<div id='finish-years'>
				<h6>Years played</h6>
			</div>
		</div>

		<ul id="sortable" class='finish-instrument-picker'>
		  
		  <%= render partial: 'partials/instrument-picker-row' %>
	</section>

	<section id='finish-home-address'>
		<h4>Home Address</h4>
		<input class='input-address forte-input' type="text" placeholder="Street, apt #">


		<input type="text" placeholder="City">

		<select class='change' name='state' value="state">
			<option selected="selected">State</option>
			<option value="CA">CA</option>
			<option value="MD">MD</option>
			<option value="WA">WA</option>
		</select>

		<input type="text" placeholder="Zipcode" class='forte-input'>

	</section>

	<section id='finish-mobility-preferences'>
		<h4>Mobility Preferences</h4>
		<h6>Check all that apply</h6>

		<div id='finish-mobility-left'>

			<div class='forte-checkbox'>
				<label>Lessons to take place at my residence</label>
				<div class="forte-checkbox-square">
					<input type="checkbox" value="None" name="check" id="finish-my-residence" />
					<label for="finish-my-residence"></label>
				</div>
			</div>

			<div class='forte-checkbox'>
				<label>Lessons to take place at my teacher's residence</label>
				<div class="forte-checkbox-square">
					<input type="checkbox" value="None" name="check"  id='finish-teacher-residence'/>
					<label for='finish-teacher-residence'></label>
				</div>
			</div>

			<div class='forte-checkbox'>
				<label>Lessons to take place at schools</label>
				<div class="forte-checkbox-square">
					<input type="checkbox" value="None" name="check" id='finish-schools'/>
					<label for="finish-schools"></label>
				</div>
			</div>


		</div>

		<div class='finish-mobility-right'>

			<div class='forte-checkbox'>
				<label>Willing to travel within 10 miles</label>
				<div class="forte-checkbox-square">
					<input type="checkbox" value="None" name="check" checked id='finish-10-miles' />
					<label for="finish-10-miles"></label>
				</div>
			</div>

			<div class='forte-checkbox'>
				<label>Willing to travel within 30 miles</label>
				<div class="forte-checkbox-square">
					<input type="checkbox" value="None" name="check" checked id='finish-30-miles'/>
					<label for="finish-30-miles"></label>
				</div>
			</div>

		</div>

	</section>

	<section id='finish-education'>
		<h4>Education</h4>
		<input type='text' placeholder="School attended" class='forte-input'/>

		<select class='change' name='state' value="state">
			<option selected="selected">Graduation year (expected)</option>
			<option value="2016">2016</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
			<option value="2022">2022</option>
		</select>

	</section>

	<section id='finish-weekly-availabilities'>
		<h4>Weekly Availabilities</h4>
		<h6>Highlight your available times. You can edit your schedule anytime.</h6>

		<%= render partial: 'partials/availability-picker' %>

	</section>

	<section id='finish-short-answer'>
		<h4>Short Answer</h4>
		<h6>Tell us about your experience with music and what you hope to achieve with Forte!</h6>
		<textarea></textarea>
	</section>

<!-- 	<section id='finish-link-social'>
		<h4>Link your social profiles</h4>
	</section> -->

	<section id='finish-save'>
		<input type='submit' class='forte-submit' value='Save & Finish'>
		<!-- <a href="" class='forte-link-gray'>Cancel</a> -->
	</section>

</form>



<script type="text/javascript">
    $(document).ready(function(){
        var menu = true;
        $('.mobile-nav-trigger').on("click",function(){
            $('.mobile-menu').slideToggle("slow");
            if(menu){
                $('.mobile-nav-trigger').html("<i class='large material-icons'>close</i>");
                menu = false
            }else{
                $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
                menu = true;
            }
        });
        $('a button').on("click",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
        $('main').on("mouseover",function(){
            $('.mobile-menu').hide();
            $('.mobile-nav-trigger').html("<i class='large material-icons'>menu</i>");
            menu = true
        });
        $(function() {
            $("#modal-1").on("change", function() {
            if ($(this).is(":checked")) {
              $("body").addClass("modal-open");
            } else {
              $("body").removeClass("modal-open");
            }
            });

            $(".modal-fade-screen, .modal-close").on("click", function() {
            $(".modal-state:checked").prop("checked", false).change();
            });

            $(".modal-inner").on("click", function(e) {
            e.stopPropagation();
            });
        });


      // var InstrumentPicker = document.getElementById('sortable');
      
      var InstrumentPicker = {

      	instruments: [],
      	numberOfRows: 1,

      };

      $(document).on('click', '#finish-instrument-list-add', function(e){
      	e.preventDefault();
      	console.log('clicked add');
      	if ( InstrumentPicker.numberOfRows < 3 ) {
	      	$('#sortable').append($('#instrument-template-row').clone());
	      	InstrumentPicker.numberOfRows++;
      	}
      });

      $(document).on('click', '#finish-instrument-list-delete', function(e){
      	e.preventDefault();
      	console.log('clicked delete');
      	if ( InstrumentPicker.numberOfRows > 1 ) {
	      	$(this).parent().parent().remove();
	      	InstrumentPicker.numberOfRows--;
      	}


      });



    });
</script>