<!-- has all pending applications with action to accept / put-on-hold -->
<h2>Pending Student Applications</h2>
<table>
    <thead>
        <th>Student Name</th>
        <th>Date Submitted</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <td></td>
    </tbody>
</table>
<h2>Pending Tutor Applications</h2>
<table>
    <thead>
        <th>Tutor Name</th>
        <th>Date Submitted</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <td></td>
    </tbody>
</table>
<!-- has all current students -->
<h2>Current Students</h2>
<table>
    <thead>
        <th></th>
    </thead>
    <tbody>
        <td></td>
    </tbody>
</table>
<!-- has all current tutors -->
<h2>Current Tutors</h2>
<table>

</table>
<!-- space to create a lesson proposal between student / tutor that notifies them and sends an email -->
