<form action='/tutors' method='post' class='forte-form' id='tutor-profile-form'>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

	<h1>Complete Your Application</h1>
	<h6>Your finished profile will be sent to the Forte team for review.</h6>

	<section id='profile-section'>
    <section id='finish-save'>
        <input type='submit' class='forte-submit' value='Save & Finish'>
        <!-- <a href="" class='forte-link-gray'>Cancel</a> -->
    </section>

</form>
