<div class='forte-availability-picker remodal' data-remodal-id="availability-picker-modal">
	<div class='availability-column-left'>
		<div class="availability-cell-label"></div>
		<div class="availability-cell-label">
			<p>8AM</p>
		</div>
		<div class="availability-cell-label">
			<p>9AM</p>
		</div>
		<div class="availability-cell-label">
			<p>10AM</p>
		</div>
		<div class="availability-cell-label">
			<p>11AM</p>
		</div>
		<div class="availability-cell-label">
			<p>12PM</p>
		</div>
		<div class="availability-cell-label">
			<p>1PM</p>
		</div>
		<div class="availability-cell-label">
			<p>2PM</p>
		</div>
		<div class="availability-cell-label">
			<p>3PM</p>
		</div>
		<div class="availability-cell-label">
			<p>4PM</p>
		</div>
		<div class="availability-cell-label">
			<p>5PM</p>
		</div>
		<div class="availability-cell-label">
			<p>6PM</p>
		</div>
		<div class="availability-cell-label">
			<p>7PM</p>
		</div>
		<div class="availability-cell-label">
			<p>8PM</p>
		</div>
		<div class="availability-cell-label">
			<p>9PM</p>
		</div>
	</div>
	<div class='availability-column'>
		<div class="availability-cell-head">
			<p>Sun</p>
		</div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
	</div>
	<div class='availability-column'>
		<div class="availability-cell-head">
			<p>Mon</p>
		</div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
	</div>
	<div class='availability-column'>
		<div class="availability-cell-head">
			<p>Tues</p>
		</div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
	</div>
	<div class='availability-column'>
		<div class="availability-cell-head">
			<p>Wed</p>
		</div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
	</div>
	<div class='availability-column'>
		<div class="availability-cell-head">
			<p>Thurs</p>
		</div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
	</div>
	<div class='availability-column'>
		<div class="availability-cell-head">
			<p>Fri</p>
		</div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
	</div>
	<div class='availability-column'>
		<div class="availability-cell-head">
			<p>Sat</p>
		</div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
		<div class="availability-cell"></div>
	</div>
	<div class='availability-column-right'>
		<div class="availability-cell-label">
			<p></p>
		</div>
		<div class="availability-cell-label">
			<p>8AM</p>
		</div>
		<div class="availability-cell-label">
			<p>9AM</p>
		</div>
		<div class="availability-cell-label">
			<p>10AM</p>
		</div>
		<div class="availability-cell-label">
			<p>11AM</p>
		</div>
		<div class="availability-cell-label">
			<p>12PM</p>
		</div>
		<div class="availability-cell-label">
			<p>1PM</p>
		</div>
		<div class="availability-cell-label">
			<p>2PM</p>
		</div>
		<div class="availability-cell-label">
			<p>3PM</p>
		</div>
		<div class="availability-cell-label">
			<p>4PM</p>
		</div>
		<div class="availability-cell-label">
			<p>5PM</p>
		</div>
		<div class="availability-cell-label">
			<p>6PM</p>
		</div>
		<div class="availability-cell-label">
			<p>7PM</p>
		</div>
		<div class="availability-cell-label">
			<p>8PM</p>
		</div>
		<div class="availability-cell-label">
			<p>9PM</p>
		</div>



	<input type='hidden' name='availabilities' value=''>


	</div>


	<button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <button data-remodal-action="confirm" class="remodal-confirm">Confirm</button>

</div>	

<script type="text/javascript">
$(document).ready(function(){	
		
		$('.availability-cell').mousedown(function(){
			$(this).toggleClass('availability-cell-highlighted');
		});

	  var isDown = false;   // Tracks status of mouse button

	  $(document).mousedown(function() {
	    isDown = true;      // When mouse goes down, set isDown to true
	  })
	  .mouseup(function() {
	    isDown = false;    // When mouse goes up, set isDown to false
	  });

	  $(".availability-cell").mouseover(function(){
	    if(isDown) {        // Only change css if mouse is down
	       $(this).toggleClass('availability-cell-highlighted');
	    }
	  });

});
</script>