<header id='forte-header'>
    <!-- forte logo -->
    <div class="header_logo">
        <%= link_to(image_tag('forte_logo_not_logged.gif'), href="/")%>
    </div>
    <!-- teacher or student tag -->
    <nav>
        <ul class="forte-nav">
            <!-- change menu items when logged in and not -->
            <li><a href="/about" class="animating-link">About Us</a></li>
            <li><a href="/questions/new" class="animating-link">Contact Us</a></li>
            <li><a class="forte-nav-link-bordered" href="/involve">Get Involved</a></li>
            <li><a href="" class="animating-link" data-remodal-target="log-in-modal">Log in</a></li>
        </ul>
        <div class="mobile-nav">
            <button type="button" class="mobile-nav-trigger">
                <i class="large material-icons">menu</i>
            </button>
        </div>
    </nav>
    <div class="mobile-menu">
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/questions/new">Contact Us</a></li>
            <li><a href="/involve">Sign Up</a></li>
            <li><a href="" data-remodal-target="log-in-modal">Log in</a></li>
        </ul>
    </div>
</header>


<%= render partial: 'partials/sign-up-modal' %>
<%= render partial: 'partials/log-in-modal' %>
