<header>
        <!-- forte logo -->
        <div class="header_logo">
            <%= image_tag('logo_sample.gif')%>
        </div>
        <!-- teacher or student tag -->
        <nav>
            <ul class='forte-nav'>
                <!-- change menu items when logged in and not -->
                <li><a href="#" class='forte-nav-link-active'>About Us</a></li>
                <li><a href="#" class='forte-nav-link'>Contact Us</a></li>
                <li><a href="#" class='forte-nav-link-bordered'>Get Involved</a></li>
                <li><a href="#" class='forte-nav-link'>Log In</a></li>
            </ul>
        </nav>
    </header>