<div class="remodal" data-remodal-id="next-lesson-modal" id="next-lesson-modal">
    <p class='forte-p-large'>Next Lesson</p>

    <form action='' method='post' class='forte-form'>
        <div id="selectInstructor">
            <label>Instructor</label>
            <input type='text'  name='instructor' placeholder="Instructor">
        </div>

        <div id="instructorChange">
            <a href="" class='forte-link-red'>Request a change in instructor</a>
        </div>

        <div id="selectDate">
            <label>Date</label>
            <input type="date">
        </div>

        <div id="selectTime">
            <label>Start Time</label>
            <input type="time">

            <label>End Time</label>
            <input type="time">
        </div>

        <div id="prevAndNext">
            <a href="" class="forte-link-red">Previous</a>
            <a href="" class="forte-link-red">Next</a>
        </div>

        <button>Confirm</button>
    </form>
</div>