<div class="remodal" data-remodal-id="sign-up-modal">

    <section id="sign-in-modal-upper">
        <%= image_tag('forte_logo_not_logged.gif') %>
    </section>
    <section id="sign-in-modal-lower">
        <form action='/register' method='post'>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          
            <input type='text'  name='name' class='forte-input' placeholder="First Name">
            <input type='text'  name='name' class='forte-input' placeholder="Last Name">
            <div>
                <input type='text'  name='name' class='forte-input' placeholder="Email">
            </div>
            <div class='student-teacher-switch'>
                <p class='forte-p-small'>Sign up as</p>
                <label class="label-switch">
                  <input type="checkbox" checked=true name='student' />
                  <div class="checkbox">
                    <span class='switch-label switch-label-student'>Student</span>
                    <span class='switch-label switch-label-teacher'>Teacher</span>
                  </div>
                </label>
            </div>
            <input type='submit' value='Sign up'>
            <p class='forte-p-small' id='sign-up-modal-cancel'>
              <a data-remodal-action="cancel" href="" class='forte-link-gray'>Cancel</a>
              </p>
        </form>

    </section>

</div>