// about.html.erb

$about-us-height: 90vh

#about-us-left
	background-color: $forte-white
	height: $about-us-height
	width: 23%

	@include media($media-medium-down)
		display: none
		// @include span-columns(12) // TODO : incorporate nav into medium-down

	float: left
	#about-us-side-nav
		width: $about-us-height / 3
		margin: $about-us-height/6 0 0 5rem !important

		li
			padding: 1rem auto
			a
				font-size: $base-font-size * 1.0
				color: $forte-dark-gray
				text-decoration: none
				&:hover
					border-bottom: $forte-border-dark-gray

	@include media($media-tiny)
		display: none
	@include media($media-small)
		display: none
	@include media($media-medium-up)
		// @include span-columns(3, $display: block-collapse)

		#about-us-side-nav
			width: $about-us-height / 3
			margin: $about-us-height/6 0 0 auto
			li
				padding: 1rem 0
				a
					font-size: $base-font-size * 1.0
					color: $forte-dark-gray
					text-decoration: none
					&:hover
						border-bottom: $forte-border-dark-gray

#about-us-content
	height: $about-us-height
	overflow-y: scroll
	margin-right: -1px // fixes chrome overflow-y 1px offset issue
	float: right !important
	max-width: 74%

	@include media($media-medium-down)
		min-width: 101%
		// width: 100%
		@include span-columns(12, $display: block-collapse)

	h1,h2,h3,h4,h5,h6
		&.white
			color: white

	article
		background-color: $forte-orange
		padding: 4rem
		min-height: $about-us-height
		&.about-us-article-team
			background-color: $forte-white

			.forte-team-tile
				display: block
				div
					min-height: 300px

					img
						max-width: 250px
						max-height: 250px

						@include span-columns(4)
						@include media($media-medium-down)
							@include span-columns(12)
							float: none
							margin: 0 auto 1rem auto

					div
						@include span-columns(8)
						@include media($media-medium-down)
							@include span-columns(12)

			@include media($media-medium-up)
				height: 300px

			@include media($media-small-down)
				height: 400px

			@include media($media-tiny)
				.forte-team-tile
					.team-tile-title
						font-size: $base-font-size * 1.0

			@include media($media-small)
				.forte-team-tile
					.team-tile-title
						font-size: $base-font-size * 1.1

			@include media($media-medium-up)
				.forte-team-tile
					.team-tile-title
						font-size: $base-font-size * 1.2


	#about-us-get-involved
		margin: 1rem auto 1rem auto
		float: left
		width: 100%
		p, ul
			display: inline-block
			li
				display: inline
				margin: 10px

		@include media($media-tiny)
			p
				display: block
				margin: 2rem
			ul
				display: inline

		@include media($media-small)
			p
				display: inline
				margin-left: 2rem
			ul li
				display: inline
				margin: 0

		@include media($media-medium-down)
			p
				margin-left: 2rem
		@include media($media-medium-up)
			@include span-columns(12)

	@include media($media-tiny)
		@include span-columns(12, $display: block-collapse)
	@include media($media-small)
		@include span-columns(12, $display: block-collapse)
	@include media($media-medium-up)
		@include span-columns(9, $display: block-collapse)
