
// COLORS

$forte-maroon: #8D2131
$forte-light-maroon: #D1A6AD
$forte-dark-gray: #53585F
$forte-medium-gray: #6B7077
$forte-gray: #50555C
$forte-light-gray: #ADB1B0
$forte-light-light-gray: #D9D9D9
$forte-overlay: #FFFFFF
$forte-p-overlay: #FFFFFF
$forte-white: #FFFFFF
$forte-overlay-white: rgba(255,255,255,0.4)


// FONT
$forte-font-weight: 300

// OTHER

$forte-border-maroon: 2px solid $forte-maroon
$forte-border-dark-gray: 2px solid $forte-dark-gray
$forte-border-white: 2px solid $forte-white
$forte-border-radius: 2px

