#payments-section-total
	// @include span-columns(6)
	width: 20%
	display: inline
#payments-section-method
	// @include span-columns(6)
	width: 20%
	display: inline
#payments-section-breakdown
	@include span-columns(12)