/* Tiny Carousel */
#slider1 {
    height: 1%;
    overflow: hidden;
    position: relative;
    padding: 0 50px 10px;
}

#slider1 .viewport {
    height: 170px;
    overflow: hidden;
    position: relative;
}

#slider1 .buttons {
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    width: 20px;
    height: auto;
}

#slider1 .next {
    right: 0;
    left: auto;
    top: 20%;
}

#slider1 .buttons:hover {
    cursor: pointer;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 270px;
    @include media(max-width 640px){
        width: 200px;
    }
}

#slider1 .overview li {
    float: left;
    margin-right: 20px;
    height: auto;
    list-style: none;
    width: 270px;
    @include media(max-width 640px){
        width: 200px;
    }
 }

#slider1 .instrument, .label-card, .label-card-soon{
    width: 270px;
    height: 170px;
    @include media(max-width 640px){
        width: 200px;
    }
}
#slider1 .label-card .forte-button-round-small{
    @include media(max-width 640px){
        width: 70px;
        height: 70px;
    }
}
#slider1 .label-card{
    background-color: transparentize($forte-orange, .3);
    position: absolute;
    z-index: 1;
    top: 65%;
    text-align: center;
    h3{
        color: $forte-white;
        font-weight: 400;
        margin-top: 15px
    }
}
#slider1 .label-card-soon{
    background-color: transparentize($forte-dark-gray, .3);
    position: absolute;
    z-index: 1;
    top: 0%;
    text-align: center;
    h3{
        color: $forte-white;
        font-weight: 400;
        margin: 50px 30px 0px;
    }
}
