// Bourbon documentation: https://github.com/thoughtbot/bourbon
@import 'bourbon';
@import 'libraries/base/base';
@import 'neat';

// STYLES
@import 'styles/components';
@import 'styles/switch';
@import 'styles/pages';
@import 'styles/home';
@import 'styles/about';

// styles
@import "styles/pages";
@import "styles/home";
@import "styles/modal";


@import 'styles/partials/header-nav';

// TODO : add NormalizeCSS
*{
    margin: 0px;
    padding: 0px;
    border: 0;
}
